.Timer {
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 9;
    width: 150px;
    height: 10%;
    font-size: 24px;
    text-align: right;
    padding-right: 0.3em;
}

.Red {
    color: red;
}