.CardButton {
    width: 50%;
    margin: 10px auto;
    padding: 0px 20px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 20px;
    color: black;
    font-size: 20px;
}

.CardButton:hover {
    color: red;
    font-size: 24px;
}

.Blank {
    margin-bottom: 1000px;
}

.Duration {
    font-size: 18px;
    text-align: right;
}